$background: #c7ecff;

.page-account {
  background-color: $background;
  width: 100%;
  height: 100vh;
  @media screen and (max-width: 576px) {
    .sign-in {
      width: 100%;
      margin: auto;
    }
    .sign-up {
      width: 100%;
      margin: auto;
    }
  }
  .sign-in {
    transition: 0.5s;
    .modal-dialog {
      margin: auto !important;
      padding-top: 40px;
      .form-group {
        .form-label {
          span {
            margin-left: 10px;
            font-size: 16px;
          }
        }
      }
    }
  }

  .sign-up {
    transition: 0.5s;
    .modal-dialog {
      margin: auto !important;
      padding-top: 40px;
      .form-group {
        .form-label {
          span {
            margin-left: 10px;
            font-size: 16px;
          }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
    }
  }
}
