.page-loading {
  height: 100vh;
  width: 100%;
  margin: 60px 0 0 0;
  color: black;
  font-size: 55px;
  letter-spacing: 2px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.list-product-page {
  margin-top: 30px;
  margin-bottom: 40px;
  @media screen and (max-width: 768px) {
    width: 800px;
  }
  .custome {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    .btn-plus-product {
      i {
        font-size: 18px;
      }
    }
    .btn-pagination {
      .btn {
        padding: 0;
        color: rgb(21, 115, 255);
        width: 60px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border: 1px solid rgb(226, 226, 226);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .table {
    tr {
      th {
        &:nth-child(1) {
          padding: 0.75rem 0;
        }
      }
      .image {
        position: relative;
        .discount {
          margin: 0;
          font-size: 14px;
          color: red;
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        img {
          width: 60px;
          height: 80px;
        }
        .id {
          font-size: 14px;
          position: absolute;
        }
      }
      .name-product {
        text-transform: uppercase;
      }
      td {
        vertical-align: baseline;
        .origin-price {
          color: #b9b8b8;
          text-decoration: line-through;
        }
        .btn-update {
          color: #0084ff;
          cursor: pointer;
          margin-right: 20px;
        }
        .btn-delete {
          cursor: pointer;
          color: #fc2109;
        }
      }
    }
  }
}

#backToTop {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 30px;
  padding: 12px;
  font-size: 42px;
  color: #2f92d3;
  border: none;
  transition: 0.5s all;
  &:hover {
    color: #313131;
  }
}

.add-product-page {
  margin-top: 30px;
  form {
    .btn {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}

.progress {
  width: 80%;
  margin: 40px auto;
}

.update-product-page {
  margin-top: 30px;
  form {
    margin-top: 50px;
    border: 1px solid #e8e7e7;
    .btn {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}
