.admin-order {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .table {
    margin-top: 20px;
    tbody {
      tr {
        td {
          span {
            cursor: pointer;
          }
          .active-status {
            color: #2c2c2c;
            vertical-align: middle;
            padding: 5px;
            line-height: 38px;
            border-radius: 20px;
            background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
          }
        }
      }
    }
  }
}
