.admin-users {
  margin-top: 30px;
  text-align: center;
  .form-search {
    width: 400px;
    display: flex;
    float: right;
    margin: 0 30px 30px 0;
  }
  .table {
    tr {
      td {
        .btn-delete-user {
          color: rgb(250, 32, 32);
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        .disabled {
          cursor: pointer;
          color: rgb(151, 151, 151);
        }
        .watch-history-ord {
          cursor: pointer;
          color: blue;
        }
      }
    }
  }
  .list-order {
    width: 400px;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    top: 30px;
    left: 15%;
    .dropdown {
      .dropdown-menu {
        table {
          width: 1000px;
          thead {
            text-align: center;
          }
          tbody {
            tr {
              td {
                .list-group {
                  .list-group-item {
                    flex-grow: 1;
                    img {
                      width: 60px;
                      height: 60px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
