.admin-users {
  margin-top: 30px;
  text-align: center;
  .table {
    margin-top: 20px;
    text-align: center;
    tr {
      td {
        .btn-delete-user {
          color: rgb(250, 32, 32);
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        .disabled {
          cursor: pointer;
          color: rgb(151, 151, 151);
        }
        .watch-history-ord {
          cursor: pointer;
          color: blue;
        }
      }
    }
  }
  .list-order {
    display: flex;
    position: fixed;
    top: 30px;
    left: 70%;
    .dropdown {
      .dropdown-menu {
        transform: translate(-800px, 40px) !important;
        table {
          width: 1000px;
          tbody {
            tr {
              td {
                img {
                  width: 60px;
                  height: 60px;
                }
              }
            }
          }
        }
      }
    }
  }
}
