.page-loading{
    height: 100vh;
    width: 100%;
    margin: 150px 0 0 0;
    color: black;
    font-size: 55px;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}

.list-product-page{
    margin-top: 150px;
    .custome{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    .table{
        tr{
            td{
                img{
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }
}

.add-product-page{
    margin-top: 150px;
}