/* SLIDES */

.carousel {
    width: 100%;
    height: 550px;
    overflow: hidden;

    .carousel-control-next-icon,
    .carousel-control-prev-icon{
        padding: 20px;
    }

    .carousel-item{
        .carousel-caption{
            bottom: 120px;
        }
    }

    img {
        width: 100%;
        height: 650px;
        background-color: rgb(122, 120, 120);
    }
}


/* NEW NOW */
.newnow {
    margin: 100px 0 50px 0;

    .title{
        font: inherit;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    
    .slick-slider{
        .slick-prev{
            left: 5px !important;
            z-index: 10;
            &::before{
                font-size: 30px !important;
                color: black !important;
            }
        }
        .slick-next{
            right: 20px !important;
            z-index: 10;
            &::before{
                font-size: 30px !important;
                color: black !important;
            }
        }
        
        .slick-list{
            .box {
                height: 500px;
                display: flex !important;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                outline: none;

                .image {
                    width: 320px;
                    height: 460px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                    transition: all 1s ease;
                    position: relative;
                    overflow: hidden;
                    
                    img{
                        width: 100%;
                        height: 460px !important;
                        transition: all 1s ease;
                        overflow: hidden;

                        @media(max-width: 720px){
                            height: 400px;
                        }
                    }

                    &:hover{
                        img{
                            transform: scale(1.05);
                        }
                    }
        
                    @media(max-width: 720px){
                        width: 75% !important;
                        height: 450px;
                    }
                    
                }

                .details {
                    width: 320px;
                    height: 40px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;

                    .fa-heart{
                        font-size: 22px;
                    }
                }
            }
        }
    }
}


/* PRODUCT */
.product {
    width: 98%;
    height: 300px;
    margin: 50px 0 100px 0;
    padding: 0;

    .title {
        color: black;
        font-size: 40px;
        font-family: Quicksand;
        margin: 0 0 20px 20px;
    }

    .slick-slider{
        text-align: center;

        .slick-prev{
            display: none;
        }

        .slick-next{
            display: none;
        }
    }

    .slick-list{
        .info-product {
            width: 300px !important;
            height: 280px;
            margin: 0 5px;
            outline: none;
            cursor: pointer;
            position: relative;

            .overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 300px;
                height: 100%;
                background: rgba(0,0,0,0);
                transition: background 0.5s ease;
            }

            &:hover {
                .overlay{
                    display: block;
                    background: rgba(0,0,0,.3);
                }
            }

            img{
                width: 300px;
                height: 280px;
                position: absolute;
                left: 0;
            }

            .details{
                position: absolute;
                left: 0;
                width: 300px;
                display: flex;
                flex-direction: column;
                top: 160px;
                font-weight: 500;
                font-size: 30px;
                text-align: center;
                text-transform: uppercase;
                color: white;
                z-index: 1;
                transition: top .5s ease;
            }

            &:hover {
                .details {
                    top: 80px;
                }
            }

            .button {
                position: absolute;
                width: 300px;
                left:0;
                top: 200px;
                text-align: center;
                opacity: 0;
                transition: opacity .35s ease;

                a {
                    width: 130px;
                    padding: 12px 25px;
                    text-align: center;
                    color: white;
                    border: solid 2px white;
                    z-index: 1;
                    position: relative;

                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: auto;
                        right: 0;
                        width: 0;
                        height: 100%;
                        background-color: #e74c3c;
                        transition: 0.25s;
                        z-index: -1;
                    }

                    &:hover{
                        &::before{
                            width: 130px;
                            height: 100%;
                            left: 0;
                            right: auto;
                        }
                    }
                }
            }

            &:hover {
                .button {
                    opacity: 1;
                }
            }
        }
    }
}
