div{
    h2{
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 40px;
    }
    .checkouts{
        width: 60%;
        margin: 50px auto;
        h3{
            text-transform: capitalize;
        }
        form{
            margin-top: 30px;
            .row{
                .col{
                    margin-bottom: 20px ;
                    .form-control{
                        padding: 22px;
                    }
                    button{
                        float: right;
                        position: relative;
                        z-index: 1;
                        color: white;
                        padding: 14px 18px;
                        background-color: #018DFF;
                        outline: none;
                        border: none;
                        border-radius: 5px;
                        overflow: hidden;
                        &::before{
                            content: "";
                            position: absolute;
                            background-color: #4dadfb;
                            top: 0;
                            left: 0;
                            width: 0;
                            height: 100%;
                            transition: 0.5s;
                            z-index: -1;
                        }
                        &:hover{
                            &::before{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .btn-back{
            position: relative;
            text-decoration: none;
            .fa-chevron-left{
                position: absolute;
                transition: 0.5s;
                top: 0;
                left: -20px;
            }
            &:hover{
                .fa-chevron-left{
                    left: -25px;
                }
            }
        }
    }
}