.page-products {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 150px;
  .title {
    font-family: "Playfair Display", serif;
    margin-bottom: 40px;
    width: 100%;
    color: #000;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
  }

  .container {
    .info-product {
      outline: none;
      position: relative;
      padding: 20px 0;

      .warning-product{
        position: absolute;
        top: 0;
        left: 0;
        font-size: 30px;
        color: red;
      }

      img {
        width: 300px;
        height: 280px;
        cursor: pointer;
      }
      &:hover {
        .button {
          top: 200px;
          opacity: 1;
        }
      }
      .button {
        cursor: pointer;
        position: absolute;
        width: 252px;
        top: 230px;
        left: 60px;
        vertical-align: middle;
        opacity: 0;
        transition: 0.35s ease;
        span {
          width: 130px;
          padding: 12px 25px;
          text-align: center;
          color: white;
          border: solid 2px white;
          z-index: 1;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
            width: 0;
            height: 100%;
            background-color: #3384fd;
            transition: 0.25s;
            z-index: -1;
          }
          &:hover {
            &::before {
              width: 100%;
              left: 0;
              right: auto;
            }
          }
        }
      }
      .details{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 6px 0;
        span{
          font-family: "Poppins", sans-serif;
          font-size: 24px;
          text-transform: capitalize;
        }
      }
    }
  }
}

.productDetail-page {
  margin-top: 50px;

  .container {
    .product-detail-wrapper {
      #image-product {
        height: 600px;

        @media screen and (max-width: 992px) {
          height: 550px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }

      .col-12 {
        img {
          width: 100%;
          height: 500px !important;
        }
      }

      #detail-product {
        .product-title {
          h1 {
            font-size: 30px;
            font-weight: 700;
            margin: 0 0 5px;
            line-height: initial;
          }

          span {
            font-size: 20px;
            color: #a3a5a7;
            margin-right: 20px;
          }
        }

        .product-price {
          font-size: 30px;
        }
      }
    }
  }
}
