* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #2F3238 !important;
    font-size: 10px;
}

/* HEADER */
.header .navbar-brand{
    margin-left: 100px;
}

.closeFormSearch{
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
}

.navbar-nav {
    justify-content: space-around;
}
.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-item .nav-link{
    color: white !important;
}
.navbar-nav .nav-item .nav-link:hover, .navbar-nav i:hover{
    color: #d45b5d !important;
}

@media screen and (max-width: 992px){
    .navbar-nav .nav-item {
        margin: 0;
    }
}

.form-search, input, input:focus{
    background-color: rgb(19, 18, 18);
    color: white;
    border: none;
    outline: none;
    line-height: 60px;
}

i {
    color: white;
}

/* CART */
.col-2 {
    position: relative;
    top: 0;
    left: 0;
}
.col-10 .toast-header {
    display: block;
    z-index: 999;
}

@media screen and (max-width: 1265px){
    .col-10{
        position: absolute;
        top: 60px;
        left: -110px;
        z-index: 2;
    }
}

@media screen and (max-width: 992px){
    .col-10{
        top: 0;
        left: 0;
    }
}

.toast-body .btn{
    border: 1px solid white;
    background: rgba(230, 40, 40, 0.705);
    padding: 10px;
    color: black;
    position: relative;
    top: 0;
    transition: 0.4s;
}
.toast-body .btn:hover{
    border-radius:50%;
    color: white;
    background: black;
}

.total-price {
    line-height: 50px;
    margin-left: 15px;
    font-size: 14px;
}

/* SLIDES */

.carousel {
    position: absolute;
    z-index: 1;
}

.main-slides img {
    width: 100%;
    height: 500px;
    background-color: rgba(0,0,0,0.5);
}

/* PRODUCTS */
.slider-slick {
    width: 100%;
    height: 80vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 500px;
    background-color:#26292E;
    border-radius: 10px;
    box-shadow: 5px 10px 18px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slick-slide img{
    display: inline !important;
}

.box > img {
    width: 75%;
    height: 75%;
    margin-top: 10px;
}

.box .details {
    text-align: center;
    color: rgb(184, 180, 180);
    font-family: calibri; 
}

.box .logo {
    margin-top: 10px;
    height: 40px;
}

.box:hover {
    background-color: #303031;
    transition: all ease 0.3s;
    transform: scale(1.02);
    cursor: pointer;
}