@import 'styles/header';
@import 'styles/body';
@import 'styles/footer';
@import 'styles/page-body';

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white !important;
    font-size: 10px;
}
a{
    text-decoration: none !important;
}
ul {
    list-style: none;
}

