@import "styles/header";
@import "styles/auth";
@import "styles/body";
@import "styles/cartInner";
@import "styles/footer";
@import "styles/page-body";
@import "styles/chat";
@import "styles/admin/admin";
@import "styles/admin/menuLeft";
@import "styles/admin/order";
@import "styles/checkout";
@import "styles/admin/pagination";
@import "styles/details";
@import "styles/admin/users";
@import "styles/admin/chat";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .not-found {
    font-size: 50px;
    text-align: center;
  }
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
